@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-bg;
      color:white;
      -webkit-font-smoothing: antialiased;
      outline: transparent;
      box-shadow: 0 0 0 2px 
    }

    body,input,textarea,button {
        @apply font-roboto;
        @apply font-normal;
        @apply text-base
    }
  }

